{{!
 This file is part of the My Achievement Points Block for Moodle

 Moodle is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 Moodle is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
<p class="notifytiny">
	{{# str }}latencydisclaimer, block_myachievementpoints{{/ str }}
</p>
<div class="statistics">
	<!--<aside class="statistic prominent">
		<p>{{# str }}total_conduct_points_label, block_myachievementpoints{{/ str }}</p>
		<h4 class="counter">{{ total_conduct_points }}</h4>
		<p class="explanatory">{{# str }}total_conduct_points_consists_of, block_myachievementpoints{{/ str }}</p>
	</aside>-->

	<aside class="statistic prominent">
		<p>{{# str }}total_achievement_points_label, block_myachievementpoints{{/ str }}</p>
		<h4 class="counter positive" id="total_achievement_points" data-value="{{ total_achievement_points }}">{{ total_achievement_points }}</h4>
	</aside>

	<aside class="explanatory">
		<h4>&ndash;</h4>
	</aside>

	<aside class="statistic prominent">
		<p>{{# str }}total_behaviour_points_label, block_myachievementpoints{{/ str }}</p>
		<h4 class="counter negative" id="total_behaviour_points" data-value="{{ total_behaviour_points }}">{{ total_behaviour_points }}</h4>
	</aside>

</div>
